@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#f5f5dc, #fffaf0); /* Thay đổi màu nền sang tông be */
  color: #4b3832; /* Thay đổi màu chữ sang tông tối nhẹ */
  min-height: 100vh;
}

#header {
  text-align: center;
  margin: 3rem auto;
}

#header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  background-color: transparent;
}

 h1 {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 10vh; /* Chiều cao của khung chứa */
  font-size: 3rem;
  color: #4b3832; /* Màu chữ của tiêu đề */
}

#user-input {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #f7e6c2, #e0c4a8); /* Thay đổi màu nền của khung nhập liệu */
}




#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #b89e84; /* Đổi màu viền input */
  border-radius: 0.25rem;
  background-color: #fdf5e6; /* Nền màu be nhạt cho input */
  color: #4b3832; /* Màu chữ trong input */
  font-size: 1rem;
}

.button {
  background-color: #f5f5dc; /* Màu be */
  color: #333; /* Màu chữ */
  border: 2px solid #d3d3c2; /* Viền màu be đậm hơn */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px; /* Bo góc */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Đổ bóng nhẹ */
}

.button:hover {
  background-color: #e0e0b8; /* Màu be đậm hơn khi hover */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); /* Đổ bóng mạnh hơn khi hover */
  color: #111; /* Đổi màu chữ tối hơn một chút */
}

.button:active {
  background-color: #d3d3c2; /* Màu be tối hơn khi nhấn */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Giảm đổ bóng khi nhấn */
  transform: translateY(2px); /* Hiệu ứng nhấn xuống */
}

.buttonmini {
  background-color: #f5f5dc; /* Màu be */
  color: #333; /* Màu chữ */
  border: 2px solid #d3d3c2; /* Viền màu be đậm hơn */
  padding: 6px 10px; /* Giảm padding để nút nhỏ hơn */
  font-size: 13px; /* Giảm kích thước chữ */
  font-weight: bold;
  border-radius: 6px; /* Bo góc nhỏ hơn */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}

.buttonmini:hover {
  background-color: #e0e0b8; /* Màu be đậm hơn khi hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Đổ bóng mạnh hơn khi hover */
  color: #111; /* Đổi màu chữ tối hơn một chút */
}

.buttonmini:active {
  background-color: #d3d3c2; /* Màu be tối hơn khi nhấn */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Giảm đổ bóng khi nhấn */
  transform: translateY(2px); /* Hiệu ứng nhấn xuống */
}
